<%= link_to 'Back', :back %> | <%= link_to "add pool", new_pool_path %>
<div class="">
<div class='w-full flex justify-center'>
      <%= image_tag "logo.png", class: "w-36" %>
    </div>
        <div class="relative m-5">
            <div class="absolute top-4 left-3 "> <i class="fa fa-search text-black z-20 hover:text-gray-500"></i> </div> <input type="text" class="bg-gray-200 h-14 w-80 pl-10 pr-20 rounded-lg z-0 focus:shadow focus:outline-none">
        </div>
    </div>
  <div class="m-5">
  <p class="font-bold	text-gray-600">PROGRAMME</p>
  </div>
  <div class="m-5 grid grid-cols-6 space-x-2">
  <% @pools.each do |pool| %> 
  <button class=" border-2 border-green-600 flex justify-center text-black font-bold py-2 px-4 rounded">
  <div>
      <%= pool.name %>
  </div>
  </button>
  <% end %>
  </div>
</div>

