<%= link_to 'Back', :back %> | <%= link_to "add pool", new_pool_path %>
<table>
  <tr>
    <td>Pool Name</td>
  </tr>
  <tr>
  <% @pools.each do |pool| %> 
    <td><%= pool.name %></td>
  </tr>
  <% end %>

</table>