<%= link_to 'Back', :back %>
<table>
  <tr>
    <td>team </td>
    <td>pool</td>*
  </tr>
  <tr>
  <% @teams.each do |team| %> 
    <td class="m-2 flex items-center justify-between"><%= image_tag(team.flag_url,width: 30) %><%= team.name %></td>
    <td class="m-2 flex items-center justify-between"></td>
  <% end %>
  </tr>

</table>